.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #DD83AD 0%, #C3E1FC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.loader-wrapper.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* Page-specific loader backgrounds */
.loader-wrapper.home-loader {
    background: linear-gradient(90deg, #DD83AD 0%, #C3E1FC 100%);
}

.loader-wrapper.motora-loader {
    background: linear-gradient(to right, rgba(131, 100, 232, 1), rgba(211, 151, 250, 1));
}

.loader-wrapper.auditiva-loader {
    background: linear-gradient(to right, #4CA1AF, #C4E0E5);
}

.loader-wrapper.cognitiva-loader {
    background: linear-gradient(to right, #FF8008, #FFC837);
}

.loader-wrapper.visual-loader {
    background: linear-gradient(to right, #56CCF2, #2F80ED);
}

.img_logo{
    margin-top: 1%;
    width: 15%;
}
